@model SistemaRestaurante.Models.ItemPedido

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Prato" class="control-label"></label>
                <input asp-for="Prato" class="form-control" />
                <span asp-validation-for="Prato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida" class="control-label"></label>
                <input asp-for="Bebida" class="form-control" />
                <span asp-validation-for="Bebida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class="form-control" asp-items="ViewBag.PedidoId"></select>
                <span asp-validation-for="PedidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary mt-3" />
                <a href="@Url.Action("Index", "Pedido")" class="btn btn-danger mt-3">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
