@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Sistema Restaurante</h1>
    <button class="btn btn-primary mt-3" onclick="location.href='@Url.Action("Create", "Pedido")'">Realizar pedido</button>
    <button class="btn btn-primary mt-3" onclick="location.href='@Url.Action("Index", "Pedido")'">Cozinha</button>
    <button class="btn btn-primary mt-3" onclick="location.href='@Url.Action("Index", "ItemPedido")'">Copa</button>
</div>
